* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: 'M PLUS 1p', sans-serif;
}
a,
a:hover {
  text-decoration: none;
}
a:visited {
  color: black;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}
#overlay.active {
  display: block;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1170px) {
  .container {
    padding: 0;
  }
}
.underline {
  position: relative;
  z-index: 2;
}
.underline::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: #00aeff;
  z-index: -1;
}
@media (min-width: 768px) {
  .underline::after {
    bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .underline::after {
    bottom: 24px;
  }
}
.underline--name::after {
  left: -9px;
}
.title {
  display: inline-block;
  font-size: 42px;
  font-weight: 800;
  position: relative;
  z-index: 2;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -5px;
  right: -5px;
  height: 12px;
  background-color: #00aeff;
  z-index: -1;
}
@media (min-width: 768px) {
  .title {
    font-size: 52px;
  }
  .title::after {
    bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 64px;
  }
  .title::after {
    bottom: 16px;
  }
}
.title--how-work {
  font-size: 35px;
}
.title--how-work::after {
  height: 10px;
}
@media (min-width: 768px) {
  .title--how-work {
    font-size: 52px;
  }
  .title--how-work::after {
    height: 12px;
  }
}
@media (min-width: 1200px) {
  .title--how-work {
    font-size: 64px;
  }
}
.button-blue {
  display: none;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 13px;
  height: 64px;
  color: black;
  background-color: #00aeff;
  border-radius: 32px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.5s;
}
.button-blue:hover {
  box-shadow: 0 0 15px #00aeff;
}
@media (min-width: 1200px) {
  .button-blue {
    display: inline-block;
  }
}
.contacts-social-item {
  margin-right: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.contacts-social-item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #000000;
}
.contacts-social-item:last-child {
  margin-right: 0;
}
.contacts-social {
  display: flex;
}
@media (min-width: 768px) {
  .contacts-social {
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .contacts-social {
    margin-bottom: 25px;
  }
}
.contacts-social-item--github {
  height: 46px;
  width: 46px;
  font-size: 50px;
  color: black;
}
.contacts-social-item--github:visited {
  color: black;
}
.contacts-social-item--telegram {
  background-color: #039be5;
  color: white;
  font-size: 30px;
}
.contacts-social-item--telegram:visited {
  color: white;
}
.contacts-social-item--vk {
  background-color: #4d76a1;
  color: white;
  font-size: 29px;
}
.contacts-social-item--vk:visited {
  color: white;
}
.contacts-social-item--facebook {
  background-color: #3b5998;
  color: white;
  font-size: 24px;
}
.contacts-social-item--facebook:visited {
  color: white;
}
.none {
  display: none !important;
}
header {
  padding-top: 22px;
  padding-bottom: 95px;
  overflow: hidden;
}
@media (min-width: 768px) {
  header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  header {
    padding-top: 60px;
    padding-bottom: 240px;
    background: url("../img/header/lines.jpg") repeat-y center 0 / auto;
  }
}
.header__nav-wrapper {
  padding-left: 15px;
  padding-right: 34px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__nav-wrapper {
    margin-bottom: 67px;
    padding-left: 35px;
    padding-right: 45px;
  }
}
@media (min-width: 1200px) {
  .header__nav-wrapper {
    margin-bottom: 143px;
  }
}
@media (min-width: 1430px) {
  .header__nav-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
.header-logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  font-weight: 800;
  color: black;
  transition: 0.5s;
}
.header-logo::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -3px;
  height: 10px;
  width: 107%;
  background-color: #00aeff;
  z-index: -1;
  transition: 0.5s;
}
.header-logo:hover {
  cursor: pointer;
}
.header-logo:hover::after {
  width: 0;
}
.header__nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  padding-top: 80px;
  width: 100%;
  max-width: 400px;
  transform: translateX(100%);
  font-size: 20px;
  font-weight: 700;
  transition: 0.5s;
}
.header__nav .section-skills__mail {
  color: #00aeff;
  display: none;
}
.header__nav .contacts-social {
  display: none;
}
@media (min-width: 1200px) {
  .header__nav {
    align-items: unset;
    display: flex;
    background-color: unset;
    position: relative;
    max-width: unset;
    flex-direction: row;
    padding-top: 0;
    padding-left: 0;
    width: auto;
    transform: translateX(0%);
  }
}
.header__nav .contacts-social {
  margin-bottom: 30px;
}
.header__nav .contacts-social .contacts-social-item {
  margin-right: 20px;
}
.header__nav.active {
  transform: translateX(0%);
  padding-top: 110px;
}
.header__nav.active .contacts-social {
  display: flex;
}
.header__nav.active .section-skills__mail {
  display: inline-block;
}
.header__nav.active .header__nav-item {
  margin-bottom: 10px;
}
.header__nav.active .header__nav-item:nth-last-child(3) {
  margin-bottom: 40px;
}
.header__nav-item {
  position: relative;
  z-index: 2;
  color: black;
}
@media (min-width: 1200px) {
  .header__nav-item {
    margin-right: 73px;
    margin-bottom: 0;
  }
  .header__nav-item:nth-last-child(3) {
    margin-right: 0;
  }
  .header__nav-item:nth-last-child(2) {
    margin-bottom: 0;
  }
}
.header__nav-item::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #00aeff;
  transition: 0.5s;
  z-index: -1;
}
.header__nav-item:hover::after {
  width: 100%;
}
.header__social {
  display: none;
}
@media (min-width: 1200px) {
  .header__social {
    display: block;
  }
}
.header__social-item {
  font-size: 32px;
  margin-right: 14px;
  color: black;
  transition: 0.5s;
  border-radius: 50%;
}
.header__social-item:last-child {
  margin-right: 0;
}
.header__social-item:hover {
  cursor: pointer;
  color: #00aeff;
}
.header__toggle-menu {
  position: relative;
  z-index: 5;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .header__toggle-menu {
    display: none;
  }
}
.header__toggle-menu span {
  position: relative;
  display: block;
  width: 40px;
  height: 5px;
  background-color: black;
}
.header__toggle-menu span::after,
.header__toggle-menu span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  height: 5px;
  background-color: black;
}
.header__toggle-menu span::before {
  top: -10px;
}
.header__toggle-menu span::after {
  bottom: -10px;
}
.header__toggle-menu.active span {
  background-color: transparent;
}
.header__toggle-menu.active span::before {
  width: 30px;
  transform: rotate(45deg);
  top: 0;
}
.header__toggle-menu.active span::after {
  width: 30px;
  transform: rotate(-45deg);
  bottom: unset;
  top: 0;
}
.header__info {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .header__info {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .header__info {
    max-width: unset;
  }
}
.header__info:hover .header__info-photo-wrapper .header__info-photo {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.header__info-photo-wrapper {
  max-width: 400px;
  margin-bottom: 51px;
}
@media (min-width: 768px) {
  .header__info-photo-wrapper {
    margin-bottom: 0;
    width: 41%;
    max-width: 460px;
  }
}
.header__info-photo {
  transition: 1.5s;
}
.header__info-content-wrapper {
  max-width: 400px;
  text-align: center;
}
@media (min-width: 768px) {
  .header__info-content-wrapper {
    max-width: unset;
    width: 50%;
  }
}
.header__name {
  margin-bottom: 21px;
  font-size: 42px;
  line-height: 1.24;
}
@media (min-width: 768px) {
  .header__name {
    font-size: 52px;
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .header__name {
    font-size: 90px;
  }
}
.header_name-desc {
  margin-bottom: 33px;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 500;
  color: #393f47;
}
@media (min-width: 1200px) {
  .header_name-desc {
    font-size: 24px;
    line-height: 1.5;
  }
}
.header__button-contacts {
  display: none;
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 9px;
  height: 64px;
  margin-left: 12px;
  color: black;
  border: solid 4px #464646;
  border-radius: 32px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.5s;
}
.header__button-contacts:hover {
  box-shadow: 0 0 5px #00aeff;
  background-color: rgba(0, 174, 255, 0.527);
}
@media (min-width: 1200px) {
  .header__button-contacts {
    display: inline-block;
  }
}
.header__bg-img {
  margin-top: 44px;
  margin-bottom: 63px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  transform: scale(1.8);
}
@media (min-width: 425px) {
  .header__bg-img {
    transform: scale(1.5);
  }
}
@media (min-width: 576px) {
  .header__bg-img {
    transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header__bg-img {
    margin-bottom: 0;
    margin-top: -40px;
    transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .header__bg-img {
    margin-top: -110px;
  }
}
.sections-skills__row {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .sections-skills__row {
    flex-direction: row;
    justify-content: space-between;
    max-width: 850px;
  }
}
@media (min-width: 1200px) {
  .sections-skills__row {
    max-width: unset;
  }
}
@media (min-width: 768px) {
  .sections-skills__desc {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .sections-skills__desc {
    width: 54%;
  }
}
.sections-skills__title-list {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 21px;
  line-height: 1.35;
  margin-bottom: 29px;
  padding-top: 350px;
  margin-top: -350px;
}
@media (min-width: 768px) {
  .sections-skills__title-list {
    margin-bottom: 21px;
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .sections-skills__title-list {
    line-height: unset;
    font-size: 40px;
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .section-skills__contacts {
    width: 45%;
    max-width: 360px;
  }
}
.section-skills__contacts .contacts-social {
  margin-bottom: 17px;
}
.section-skills__list {
  margin-bottom: 37px;
}
.section-skills__list-item {
  position: relative;
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 1.15;
}
.section-skills__list-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .section-skills__list-item {
    line-height: unset;
    margin-bottom: 8px;
  }
}
@media (min-width: 1200px) {
  .section-skills__list-item {
    font-size: 24px;
    margin-left: 33px;
    margin-bottom: 3px;
  }
  .section-skills__list-item::after {
    content: "";
    height: 2px;
    width: 23px;
    background-color: gray;
    position: absolute;
    left: -31px;
    top: 18px;
  }
}
.sections-skills__title-social {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .sections-skills__title-social {
    margin-bottom: 18px;
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .sections-skills__title-social {
    font-size: 40px;
    margin-bottom: 31px;
  }
}
.section-skills__mail {
  color: black;
  text-decoration: underline;
  font-size: 18px;
  transition: 0.3s;
}
.section-skills__mail:hover {
  text-decoration: underline;
  color: #00aeff;
}
@media (min-width: 768px) {
  .section-skills__mail {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .section-skills__mail {
    font-size: 24px;
  }
}
.section-portfolio {
  padding-top: 47px;
  padding-bottom: 90px;
  background-color: #f4f8f9;
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding-top: 98px;
    padding-bottom: 125px;
  }
}
.section-portfolio__title-wrapper {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  padding-top: 60px;
  margin-top: -60px;
}
@media (min-width: 768px) {
  .section-portfolio__title-wrapper {
    max-width: 750px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio__title-wrapper {
    margin-bottom: 55px;
    max-width: unset;
  }
}
.section-portfolio__filters {
  display: none;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .section-portfolio__filters {
    display: flex;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .section-portfolio__filters {
    max-width: unset;
  }
}
.section-portfolio__filters-item {
  margin-right: 50px;
  border: unset;
  font-family: 'M PLUS 1p', sans-serif;
  background-color: #f4f8f9;
  font-size: 24px;
  font-weight: 800;
  color: #8fa5ae;
  cursor: pointer;
  transition: 0.2s;
}
.section-portfolio__filters-item:last-child {
  margin-right: 0;
}
.section-portfolio__filters-item:hover {
  color: #000000;
}
.section-portfolio__filters-item:active {
  color: red;
}
@media (min-width: 1200px) {
  .section-portfolio__filters-item {
    font-size: 28px;
    margin-right: 80px;
  }
}
.control-active {
  color: black;
}
.section-portfolio__projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .section-portfolio__projects-wrapper {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    align-items: unset;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .section-portfolio__projects-wrapper {
    max-width: unset;
  }
}
.section-portfolio__project {
  width: 100%;
  font-size: 22px;
  max-width: 360px;
  transition: 0.5s;
  text-align: center;
  margin-bottom: 55px;
}
.section-portfolio__project:hover {
  box-shadow: 0 0 8px #00aeff;
  border-radius: 0 0 15px 15px;
}
@media (min-width: 768px) {
  .section-portfolio__project {
    width: 340px;
    margin-bottom: 25px;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio__project {
    max-width: unset;
    margin-bottom: 40px;
    width: 34%;
    max-width: 360px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio__project--big {
    font-size: 32px;
    width: 49%;
    max-width: 555px;
  }
}
.section-portfolio__project-img {
  display: block;
  position: relative;
  overflow: hidden hidden;
  margin-bottom: 20px;
}
.section-portfolio__project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 174, 255, 0.6);
  transform: translateY(100%);
  transition: 1s;
}
.section-portfolio__project-img:hover::before {
  transform: translateY(0);
}
.section-portfolio__project-img:hover .more-button {
  opacity: 1;
}
.more-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  padding-bottom: 5px;
  border-radius: 25px;
  background-color: white;
  border: 2px solid white;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 1;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 22px;
  font-weight: 800;
  transition: 0.5s;
  opacity: 0;
}
.more-button:hover {
  background-color: #09e03f;
  border-color: #09e03f;
  color: white;
}
.more-button:active {
  background-color: #0cac34;
  border-color: #0cac34;
}
.section-portfolio__project-title {
  font-weight: 700;
  color: black;
  transition: 0.4s;
  margin-bottom: 5px;
}
.section-portfolio__project-title:hover {
  color: #00aeff;
}
.section-portfolio__project-title:active {
  color: red;
}
.section-portfolio__project-desc {
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .section-portfolio__project-desc {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio__project-desc {
    font-size: 22px;
  }
}
.section-skills__all-project-wrapper {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
@media (min-width: 768px) {
  .section-skills__all-project-wrapper {
    max-width: 760px;
  }
}
@media (min-width: 1200px) {
  .section-skills__all-project-wrapper {
    display: none;
  }
}
.section-skills__all-project {
  position: relative;
  color: #00aeff;
  font-size: 20px;
}
.section-skills__all-project::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 1px;
  background-color: #00aeff;
  transition: 0.3s;
}
.section-skills__all-project:visited {
  color: #00aeff;
}
.section-skills__all-project:hover::after {
  width: 0;
}
.how-work {
  padding-top: 53px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .how-work {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}
@media (min-width: 1200px) {
  .how-work {
    padding-top: 129px;
    padding-bottom: 130px;
    background: url("../img/how-work/bg.jpg") repeat-y center 0 / auto;
  }
}
.how-work__title {
  text-align: center;
  margin-bottom: 44px;
}
@media (min-width: 768px) {
  .how-work__title {
    margin-bottom: 155px;
  }
}
@media (min-width: 1200px) {
  .how-work__title {
    margin-bottom: 150px;
  }
}
.how-work__stages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .how-work__stages {
    width: 706px;
    margin-left: auto;
    margin-right: auto;
    align-items: unset;
  }
}
@media (min-width: 950px) {
  .how-work__stages {
    width: 880px;
  }
}
@media (min-width: 1200px) {
  .how-work__stages {
    width: 1146px;
  }
}
.how-work__stage-item {
  position: relative;
  display: flex;
  padding-bottom: 47px;
  margin-bottom: 11px;
  max-width: 370px;
}
.how-work__stage-item:hover {
  cursor: pointer;
}
.how-work__stage-item:hover .how-work__stage-desc .how-work__stage-desc-title::after {
  width: 100%;
}
.how-work__stage-item:hover .how-work__stage-icon {
  box-shadow: 0px 3px 35px 0px #00aeff;
  border-radius: 50%;
}
.how-work__stage-item:last-child {
  margin-bottom: 0;
}
.how-work__stage-item::before {
  content: "";
  position: absolute;
  left: 35px;
  top: 85px;
  bottom: 0;
  width: 4px;
  background-color: #e0eef4;
}
.how-work__stage-item:last-child::before {
  display: none;
}
@media (min-width: 768px) {
  .how-work__stage-item {
    max-width: unset;
    width: 390px;
  }
  .how-work__stage-item:first-child::after {
    content: "";
    position: absolute;
    right: 35px;
    top: -70px;
    height: 60px;
    width: 4px;
    background-color: #e0eef4;
  }
  .how-work__stage-item:nth-child(2n+1) {
    flex-direction: row-reverse;
  }
  .how-work__stage-item:nth-child(2n) {
    margin-left: auto;
  }
  .how-work__stage-item:nth-child(2n+1) .how-work__stage-icon {
    margin-right: 0;
    margin-left: 25px;
  }
  .how-work__stage-item:nth-child(2n+1) .how-work__stage-desc {
    text-align: right;
  }
  .how-work__stage-item:nth-child(2n+1)::before {
    left: unset;
    right: 35px;
  }
}
@media (min-width: 950px) {
  .how-work__stage-item {
    width: 477px;
  }
}
@media (min-width: 1200px) {
  .how-work__stage-item {
    width: 610px;
  }
  .how-work__stage-item:first-child .how-work__stage-desc-text {
    max-width: 320px;
  }
  .how-work__stage-item:nth-child(2n+1) .how-work__stage-icon {
    margin-right: 0;
    margin-left: 40px;
  }
}
.how-work__stage-icon {
  margin-right: 25px;
  height: 74px;
  width: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  background-color: #ffffff;
  box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
  transition: 1s;
  flex-shrink: 0;
}
@media (min-width: 1200px) {
  .how-work__stage-icon {
    margin-right: 40px;
  }
}
@media (min-width: 768px) {
  .how-work__stage-desc {
    margin-top: 20px;
  }
}
.how-work__stage-desc-title {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
  z-index: 2;
  font-size: 20px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .how-work__stage-desc-title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .how-work__stage-desc-title {
    font-size: 26px;
  }
  .how-work__stage-desc-title::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 0%;
    height: 7px;
    background-color: #00aeff;
    z-index: -1;
    transition: 1s;
  }
}
.how-work__stage-desc-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .how-work__stage-desc-text {
    font-size: 16px;
    line-height: 1.35;
  }
}
@media (min-width: 1200px) {
  .how-work__stage-desc-text {
    font-size: 18px;
    line-height: auto;
    max-width: 430px;
  }
}
.how-work__stage-desc-time {
  font-size: 14px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .how-work__stage-desc-time {
    font-size: 18px;
  }
}
.contacts {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding-top: 131px;
    padding-bottom: 150px;
    background: url("../img/contacts/bg-contacts.jpg") repeat-y center 0 / auto;
    background-color: #f4f8f9;
  }
}
.contacts__title-wrapper {
  text-align: center;
  padding-top: 60px;
  margin-top: -60px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .contacts__title-wrapper {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .contacts__title-wrapper {
    margin-bottom: 53px;
  }
}
.contacts__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .contacts__content-wrapper {
    max-width: 900px;
    text-align: unset;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .contacts__content-wrapper {
    max-width: unset;
  }
}
.contacts__desc {
  position: relative;
}
@media (min-width: 768px) {
  .contacts__desc {
    width: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .contacts__desc {
    padding-top: 25px;
  }
}
.contacts__desc .contacts-social {
  justify-content: center;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .contacts__desc .contacts-social {
    justify-content: unset;
    margin-bottom: 0;
  }
}
.contacts__desc-img {
  display: none;
  position: absolute;
  top: 0;
  left: -350px;
}
@media (min-width: 1200px) {
  .contacts__desc-img {
    display: block;
  }
}
@media (min-width: 768px) {
  .contacts__form-wrapper {
    width: calc(50% - 15px);
  }
}
.contacts__form {
  padding-top: 50px;
  padding-bottom: 40px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 28px 100px 0px rgba(194, 219, 235, 0.6);
  transition: 1s;
}
.contacts__form:hover {
  box-shadow: 0px 28px 100px 0px rgba(0, 174, 255, 0.404);
}
@media (min-width: 1200px) {
  .contacts__form {
    width: 92%;
  }
}
.contacts__form-item {
  width: 85%;
  margin-bottom: 32px;
  position: relative;
}
.contacts__form-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contacts__form-item {
    margin-bottom: 32px;
  }
  .contacts__form-item:nth-last-child(2) {
    margin-bottom: 12px;
  }
}
@media (min-width: 1200px) {
  .contacts__form-item {
    margin-bottom: 56px;
    width: 76%;
  }
  .contacts__form-item:nth-last-child(2) {
    margin-bottom: 56px;
  }
}
.contacts__form-field {
  cursor: pointer;
  width: 100%;
  height: 52px;
  border: 0;
  border-bottom: 2px solid #bcbcbc;
  padding-left: 5px;
  font-weight: 700;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 20px;
  line-height: 1;
  color: black;
  transition: 1s;
  outline: none;
}
.contacts__form-field:hover {
  border-bottom: 2px solid #0066ff;
}
.contacts__form-field:hover ~ .fake-placeholder {
  color: #0066ff;
}
.contacts__form-field--area {
  resize: none;
  height: 130px;
}
@media (min-width: 1200px) {
  .contacts__form-field--area {
    height: 115px;
  }
}
.fake-placeholder {
  position: absolute;
  top: 16px;
  left: 5px;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: #bcbcbc;
  pointer-events: none;
  transition: 0.5s;
}
.fake-placeholder.fake-placeholder--area.active {
  top: -20px;
}
.fake-placeholder.active {
  color: #0066ff;
  font-size: 16px;
  top: -16px;
}
.contacts__form-button {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1200px) {
  .contacts__form-button {
    justify-content: flex-start;
    margin-left: 57px;
  }
}
.contacts__form-button-elem {
  height: 54px;
  color: black;
  width: 85%;
  background-color: #00aeff;
  border-radius: 27px;
  border: none;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  transition: 0.5s;
  cursor: pointer;
}
.contacts__form-button-elem:hover {
  box-shadow: 0 0 15px #00aeff;
}
@media (min-width: 768px) {
  .contacts__form-button-elem {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contacts__form-button-elem {
    font-size: 18px;
    width: unset;
    height: 64px;
    padding-left: 42px;
    padding-right: 42px;
    border-radius: 30.5px;
  }
}
.contacts__desc-text {
  margin-bottom: 20px;
  max-width: 510px;
  font-size: 16px;
  line-height: 1.62;
}
@media (min-width: 768px) {
  .contacts__desc-text {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__desc-text {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
  }
}
.contacts__desc-contacts-wrap {
  margin-bottom: 45px;
}
.contacts__desc-contacts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}
.contacts__desc-contacts-item:hover .contacts__desc-contacts-item-link::after {
  width: 100%;
}
@media (min-width: 768px) {
  .contacts__desc-contacts-item {
    align-items: unset;
  }
}
@media (min-width: 1200px) {
  .contacts__desc-contacts-item {
    font-size: 20px;
    flex-direction: row;
    margin-bottom: 22px;
  }
}
.contacts__desc-contacts-item-name {
  width: 35%;
  font-weight: 700;
}
.contacts__desc-contacts-item-link {
  color: #00aeff;
  position: relative;
  z-index: 2;
  font-weight: 500;
}
.contacts__desc-contacts-item-link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #00aeff;
  z-index: -1;
  transition: 1s;
}
.contacts__desc-contacts-item-link:visited {
  color: #00aeff;
}
.contacts__desc-contacts-item-info {
  font-weight: 500;
  color: #96969d;
}
.footer {
  padding-top: 25px;
  padding-bottom: 35px;
  background-color: #333333;
}
.footer__who {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.footer__text {
  font-size: 16px;
  line-height: 1.625;
  color: #b0b0b0;
}
.footer__link {
  color: #b0b0b0;
  text-decoration: underline;
  transition: 0.3s;
}
.footer__link:visited {
  color: #b0b0b0;
  text-decoration: underline;
}
.footer__link:hover {
  color: #00aeff;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */