.footer{
    padding-top: 25px;
    padding-bottom: 35px;
    background-color: #333333;
}

.footer__who{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.footer__text{
    font-size: 16px;
    line-height: 1.625;
    color: #b0b0b0;
}

.footer__link{
    color: #b0b0b0;
    text-decoration: underline;
    transition: 0.3s;

    &:visited{
        color: #b0b0b0;
        text-decoration: underline;
    }

    &:hover{
        color: rgb(0, 174, 255);
        text-decoration: underline;
    }
}