.header{
    padding-top: 22px;
    padding-bottom: 95px;

    overflow: hidden;
    
    // Планшет 
    @media(min-width: 768px){
        padding-top: 20px;
        padding-bottom: 45px;
    }

    //Десктоп
    @media(min-width: 1200px){
        padding-top: 60px;
        padding-bottom: 240px;
        background: url("../img/header/lines.jpg") repeat-y center 0 / auto;
    }
}

.header__nav-wrapper{
    padding-left: 15px;
    padding-right: 34px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    // Планшет 
    @media(min-width: 768px){
        margin-bottom: 67px;

        padding-left: 35px;
        padding-right: 45px;
    }

    //Десктоп
    @media(min-width: 1200px){
        margin-bottom: 143px;
    }

    
    @media(min-width: 1430px){
        padding-left: 0;
        padding-right: 0;
    }
}

.header-logo{
    position: relative;
    z-index: 2;
    font-size: 42px;
    font-weight: 800;
    color: black;

    transition: 0.5s;
    
    &::after{
        content: "";
        position: absolute;
        bottom: 10px;
        left: -3px;
        height: 10px;
        width: 107%;
        background-color: rgb(0, 174, 255);
        z-index: -1;
        transition: 0.5s;
    }

    &:hover{
        cursor: pointer;
    }

    &:hover::after{
        width: 0;
    }
}

.header__nav{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 80px;
    width: 100%;
    max-width: 400px;
    transform: translateX(100%);

    font-size: 20px;
    font-weight: 700;

    transition: 0.5s;

    .section-skills__mail{
        color: rgb(0, 174, 255);
        display: none;
        font-weight: 400;
    }

    .section-skills__mail::after{
        height: 1px;
        bottom: 1px;
    }

    .contacts-social{
        display: none;
    }

    .header-logo{
        margin-bottom: 40px;
    }

    //Десктоп
    @media(min-width: 1200px){
        align-items: unset;
        display: flex;
        background-color: unset;
        position: relative;
        max-width: unset;
        flex-direction: row;
        padding-top: 0;
        padding-left: 0;
        width: auto;
        transform: translateX(0%);

        .header-logo{
            display: none;
        }
    }
}

.header__nav .contacts-social {
    margin-bottom: 30px;

    .contacts-social-item{
        margin-right: 20px;
    }   
}

.header__nav.active{
    transform: translateX(0%);
    padding-top: 25px;

    .contacts-social{
        display: flex;
    }

    .section-skills__mail{
        display: inline-block;
    }

    .header__nav-item{
        margin-bottom: 15px;

        &:nth-last-child(3){
            margin-bottom: 40px;
        }
    }

}

.header__nav-item{

    position: relative;
    z-index: 2;
    color: black;
   
    &::after{
        content: "";
        position: absolute;
        bottom: 3px;
        left: -2px;
        width: 105%;
        height: 2px;
        background-color: black;
        z-index: -1;
    }

    //Десктоп
    @media(min-width: 1200px){
        margin-right: 73px;
        margin-bottom: 0;

        &:nth-last-child(3){
            margin-right: 0;
        }

        &:nth-last-child(2){
            margin-bottom: 0;
        }

        &::after{
            content: "";
            position: absolute;
            bottom: 3px;
            left: -2px;
            width: 0;
            height: 5px;
            background-color: rgb(0, 174, 255);
            transition: 0.5s;
            z-index: -1;
        }
    }

    &:hover::after{
        width: 105%;
    }
}

.header__social{
    display: none;

    //Десктоп
    @media(min-width: 1200px){
        display: block;
    }
}

.header__social-item{
    font-size: 32px;
    margin-right: 14px;
    color: black;
    transition: 0.5s;
    border-radius: 50%;

    &:last-child{
        margin-right: 0;
    }

    &:hover{
        cursor: pointer;
        color: rgb(0, 174, 255);
    }
}

.header__toggle-menu{
    position: relative;
    z-index: 5;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    // Десктоп
    @media(min-width: 1200px){
        display: none;
    }
}

.header__toggle-menu span{
    position: relative;
    display: block;
    width: 40px;
    height: 5px;
    background-color: black;

    &::after,
    &::before{
        content: "";
        position: absolute;
        left: 0;
        width: 40px;
        height: 5px;
        background-color: black;
    }

    &::before{
        top: -10px;
    }

    &::after{
        bottom: -10px;
    }
}

.header__toggle-menu.active{
    span{
        background-color: transparent;

        &::before{
            width: 30px;
            transform: rotate(45deg);
            top: 0;
        }

        &::after{
            width: 30px;
            transform: rotate(-45deg);
            bottom: unset;
            top: 0;
        }
    }
}

.header__info{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    // Платншет
    @media (min-width: 768px){
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    //Десктоп
    @media(min-width: 1200px){
        max-width: unset;
    }

    &:hover .header__info-photo-wrapper .header__info-photo{
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
}

.header__info-photo-wrapper{

    max-width: 400px;
    margin-bottom: 51px;

    // Планшет 
    @media(min-width: 768px){
        margin-bottom: 0;
        width: 41%;
        max-width: 460px;
    }
}

.header__info-photo{
    transition: 1.5s;
}

.header__info-content-wrapper{
    max-width: 400px;
    text-align: center;

    // Планшет 
    @media(min-width: 768px){
        text-align: unset;
        max-width: unset;
        width: 50%;
    }
}

.header__name{
    margin-bottom: 21px;
    font-size: 42px;
    line-height: 1.24;

    // Планшет 
    @media(min-width: 768px){
        font-size: 52px;
        margin-bottom: 12px;
    }

    //Десктоп
    @media(min-width: 1200px){
        font-size: 90px;
    }
}

.header__name-desc{
    margin-bottom: 33px;

    font-size: 18px;
    line-height: 1.67;
    font-weight: 500;
    color: #393f47;

    //Десктоп
    @media(min-width: 1200px){
        font-size: 24px;
        line-height: 1.5;
    }
}

.header__button-contacts{
    margin-left: 12px;
    text-decoration: none;
    outline: none;
    display: none;
    padding: 11px 42px;
    border: solid 4px #464646;
    border-radius: 32px;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    color: #464646;
    background: white;
    transition: .8s;

    &:hover {
        box-shadow: 0 0 2px 0px rgb(0, 174, 255) inset;
        border: solid 4px rgb(0, 174, 255);
        color: rgb(0, 174, 255);
    }

    &:visited{
        color: #464646;
    }

    &:visited:hover{
        color: rgb(0, 174, 255);
    }

    //Десктоп
    @media(min-width: 1200px){
        display: inline-block;
    }
}

.header__bg-img{
    margin-top: 44px;
    margin-bottom: 63px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    transform: scale(1.8);

    @media(min-width: 425px){
        transform: scale(1.5);
    }

    @media(min-width: 576px){
        transform: scale(1.2);
    }

    // Планшет 
    @media(min-width: 768px){
        margin-bottom: 7px;
        margin-top: -40px;
        transform: scale(1);
    }

    //Десктоп
    @media(min-width: 1200px){
        margin-top: -158px;
    }
}

.vk{
    &:hover{
        color: #4680C2;
    }
}

.wa{
    &:hover{
        color: #43d854;
    }
}
