.sections-skills__row{
    display: flex;
    flex-direction: column;
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;

    // Планшет 
    @media(min-width: 768px){
        flex-direction: row;
        justify-content: space-between;
        max-width: 850px;
    }

    //Десктоп
    @media(min-width: 1200px){
        max-width: unset;
    }
}

.sections-skills__desc{
    width: 90%;

    // Планшет 
    @media(min-width: 768px){
        width: 50%;
    }

    //Десктоп
    @media(min-width: 1200px){
        width: 54%;
    }
}

.sections-skills__title-list{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 21px;
    line-height: 1.35;
    margin-bottom: 29px;
    padding-top: 70px;
    margin-top: -70px;

    // Планшет 
    @media(min-width: 768px){
        margin-bottom: 24px;
        font-size: 32px;
    }

    //Десктоп
    @media(min-width: 1200px){
        line-height: unset;
        font-size: 40px;
        margin-bottom: 29px;
    }
}

.section-skills__contacts{

    // Планшет 
    @media(min-width: 768px){
        width: 45%;
        max-width: 360px;
    }

    .contacts-social{
        margin-bottom: 17px;
    }
}

.section-skills__list{
    margin-bottom: 37px;

    //Десктоп
    @media(min-width: 1200px){
        margin-bottom: 44px;
    }
}

.section-skills__list-item{
    position: relative;
    font-size: 18px;
    margin-bottom: 17px;
    line-height: 1.15;

    &:last-child{
        margin-bottom: 0;
    }

    // Планшет 
    @media(min-width: 768px){
        line-height: 1.35;
        margin-bottom: 12px;
    }

    //Десктоп
    @media(min-width: 1200px){
        font-size: 24px;
        margin-left: 33px;
        margin-bottom: 6px;

        &::after{
            content: "";
            height: 2px;
            width: 23px;
            background-color: gray;
            position: absolute;
            left: -31px;
            top: 18px;
        }
    }
}

.sections-skills__title-social{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 19px;

    // Планшет 
    @media(min-width: 768px){
        margin-bottom: 18px;
        font-size: 32px;
    }

    //Десктоп
    @media(min-width: 1200px){
        font-size: 40px;
        margin-bottom: 31px;
    }
}

.section-skills__mail{
    position: relative;
    z-index: 5;
    color: rgb(0, 174, 255);
    font-size: 18px;
    transition: 0.5s;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;        
        left: -3px;
        width: 103%;
        height: 2px;
        background-color: rgb(0, 174, 255);
        z-index: 0;
        transition: 0.5s;
    }

    &:hover{
        color: rgb(0, 174, 255); 
    }

    &:hover::after{
        width: 0;
    }

    &:visited{
        color: rgb(0, 174, 255);  
    }

    // Планшет 
    @media(min-width: 768px){
        font-size: 20px;
    }

    //Десктоп
    @media(min-width: 1200px){
        font-size: 24px;

        &::after{
            bottom: 2;
        }
    }
}